%footer.page-footer.ui.sticky.inverted.vertical.segment
  .ui.stackable.center.aligned.page.grid
    .ten.wide.column
    .six.wide.column
      %h5.ui.inverted.header Contact Us
      %addr
        1895 Heitz Place Courthouse
        %p
          %br
          Phone: 516-822-7505
          %br
          Fax: 516-822-3227
