.row
  .ui.menu.navbar.inverted.attached
    %a.brand.item{:href => root_path } Gregory Museum
    %a.item{:href => root_path } About
    %a.item{:href => events_path } Events
    - if admin_signed_in?
      %a.item{:href => admin_root_path } Admin Panel
    .right.menu
      - if admin_signed_in?
        .ui.simple.dropdown.item
          = current_admin.email
          %i.dropdown.icon
          .menu
            .item
              =link_to "Edit account", edit_admin_registration_path, style: "color:black"
            .ui.divider
            .item
              =link_to('Logout', destroy_admin_session_path, :method => :delete, style: "color:black")
