.ui.green.inverted.vertical.segment
  .ui.very.relaxed.stackable.page.grid
    .row
      .column
        %h1.center.aligned.ui.inverted.header
          The Hicksville Gregory Museum
    .row
      .sixteen.wide.column
        %h3.ui.inverted.header Long Island Earth Science Center
        %p The Hicksville Gregory Museum has a rich history, and provides opportunity to learn about Earth Science.
        %p We have activities prepared for all ages, and support group work for school field trips.
        %p Additionally we have great volunteering opportunities for students.
        .ui.basic.inverted.animated.button
          .visible.content Get Started
          .hidden.content
            %i.right.arrow.icon
.ui.vertical.feature.segment
  .ui.centered.page.grid
    .fourteen.wide.column
      .ui.three.column.center.aligned.stackable.divided.grid
        .column
          .ui.icon.header
            %i.university.icon
            History
          %p We actively maintain the outside of the museum to preserve the Victorian appearance.
          %p Our museum contains a large assortment of interesting minerals, fossils, and more.
        .column
          .ui.icon.header
            %i.book.icon
            Learning
          %p We are a small museum dedicated to teaching visitors about the sciences.
          %p The small size allows us to provide you with a better learning opportunity, much the same way smaller class sizes in schools work.
        .column
          .ui.icon.header
            %i.leaf.icon
            Variety
          %p Our artifacts are spread out, providing you with a view of various minerals, fossils, butterflies.
          %p Additionally, we have the largest mineral collection on Long Island.

          %br
.ui.inverted.footer.vertical.segment
  .ui.stackable.center.aligned.page.grid
    .ten.wide.column
    .six.wide.column
      %h5.ui.inverted.header Contact Us
      %addr
        1895 Heitz Place Courthouse
        %p
          %br
          Phone: 516-822-7505
          %br
          Fax: 516-822-3227
